*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body{
    background-color: black;
}

.interface{
    max-width: 1080px;
    margin: 0 auto;
}

.logo img{
    height: 100px;
    width: 100px;
}

header{
    padding: 40px 4%;
}

header > .interface{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a{
    color: #7d7d7d;
    text-decoration: none;
    display: inline-block;
    transition: .2s ease;
}

header nav.menu_desktop a:hover{
    color: #fff;
    transform: scale(1.05);
}

header nav ul{
    list-style: none;
}


header nav.menu_deskto ul li{
    display: inline-block;
    padding: 0 40px;
}

header .btn-contato button{
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 700;
    background-color: gold;
    border: none;
    border-radius: 30px;
    transition: .2s ease;
}

header .btn-contato button:hover{
    background-color: goldenrod;
    cursor: pointer;
    box-shadow: 0px 0px 8px goldenrod;
    transform: scale(1.05);
}

.flex{
    display: flex;
}

/* --------------- Estilo do Menu Mobile ----------------- */

.btn-abrir-menu i{
    color: #fff;
    font-size: 40px;
}

.menu-mobile{
    background-color: #000;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 9999;
    width: 0%;
    overflow: hidden;
    transition: .5s ease;
}

.menu-mobile.abrir-menu{
    width: 60%;
}

.menu-mobile.abrir-menu ~ .overlay-menu{
    display: block;
}
.menu-mobile .btn-fechar{
    padding: 20px 5%;
}

.menu-mobile .btn-fechar i{
    color: #ffffff;
    font-size: 30px;
}

.menu-mobile nav ul{
    text-align: right;
}

.menu-mobile nav ul li a{
    color: #fff;
    font-size: 20px;
    font-weight: 300;
    padding: 10px 5%;
    display: block;
}

.menu-mobile nav ul li a:hover{
    color: #000;
    background-color: goldenrod;
}

.overlay-menu{
    background-color: #000000a7;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 888;
    display: none;
}

/* --------------- Topo do site ----------------- */

section .topo-do-site{
    padding: 40px 4%;
}

section.topo-do-site .flex{
    align-items: center;
    justify-content: center;
    gap: 200px;
}

.topo-do-site h1{
    color: #fff;
    font-size: 50px;
}

.topo-do-site .txt-topo p{
    width: 170px;
    color: #fff;
    margin: 20px 0;
}

.txt-topo  ul li{
    color: #fff;
}


.btn-contato2 button{
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 700;
    background-color: #00FF08;
    border: none;
    border-radius: 30px;
    transition: .2s ease;
}

.btn-contato2 button:hover{
    background-color: #00a505;
    cursor: pointer;
    box-shadow: 0px 0px 8px #00a505;
    transform: scale(1.05);
}

.seu-link {
  display: inline-block;
}

.icone-whatsapp {
  vertical-align: middle;
  width: 25px;
  height: 25px;
  width: auto;
  margin-right: 8px; 
}

.texto-link {
  vertical-align: middle;
}

.lineDvD-mainvid {
    height: 6px;
    box-shadow: 0px -5px 5px 1px rgba(255, 217, 0, 0.459);
    border: solid 1px rgba(0, 0, 0, 0.466);
    margin: 40px 0;
    
}

.invisible-line{
    height: 15px;
}

/* ------------------- Caixa acima do Video ------------------- */

.fig-father{
    display: flex;
    justify-content: space-around;
    margin: 40px;
}
.fig-above-vid{
    display: flex;
    background-color: gold;
    height: 150px;
    width: 800px;
    border-radius: 20px;
    padding: 10px 100px;
    justify-content: space-between;
}

.fig-above-vid p{
    font-size: 30px;
}

.fig-above-vid ul li{
    font-size: 20px;
    width: 400px;
    color: rgb(0, 0, 0);
}

/* ------------------- Video ------------------- */

.fig-vid{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0px 6%;
    margin-bottom: 50px;
}

.text-vid h1{
    color: #fff;
    font-size: 50px;
}

.text-vid{
    color: white;
}

.text-vid p{
    width: 230px;
    color: #fff;
    margin: 20px 0;
}
.video-sec{
    display: flex;
    align-items: center;
    justify-content: center;
}

.foto-varal{
    height: auto;
     width: 445px;
}

/* ------------------- Footer ------------------- */

footer{
    padding: 40px 4%;
    box-shadow: 0 0 40px 10px rgba(255, 217, 0, 0.459);
}

footer .flex{
    justify-content: space-between;
}

.logo-footer{
    width: 125px;
    height: 125px;
}

footer .line-footer{
    padding: 20px 0;
}

.borda{
    border-top: 2px solid gold;
}

footer .line-footer p i{
    color: #fff;
    font-size: 22px;
}

footer .line-footer p a{
    color: #fff;
}


.btn-social button{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
    background-color: gold;
    font-size: 22px;
    cursor: pointer;
    margin: 0 5px;
    transition: .2s ease;
}

.btn-social button:hover{
    cursor: pointer;
    box-shadow: 0px 0px 8px goldenrod;
    background-color: goldenrod;
    transform: scale(1.05);
}

footer .line-footer p{
    color: #fff;
}

/* iphone 11 */
@media screen and (max-width: 1210px) {
    /* Classes Gerais */

        .topo-do-site .flex{
        flex-direction: column;
        }

    /* Header */

        .menu_desktop,.btn-contato{
        display: none;
        }
        .btn-contato2{
        display: none;
        }

    /* Topo do Site */

        section .topo-do-site{
        padding: 20px 8%;
        }

        .txt-topo{
        padding: 0px 20%;}
        

        .topo-do-site h1{
        font-size: 40px;
        }

     .topo-do-site img{
        width: 95%;
    }
        section.topo-do-site .flex{
        gap: 55px;
}

        /* Caixa */

        .fig-father{
            display: flex;
            justify-content: center;
        }

        .fig-above-vid{
            height: 150px;
            width: 325px;
            border-radius: 20px;
            padding: 30px 50px;
        }

        .fig-above-vid p{
            display: none;
        }

        .fig-above-vid ul li{
            font-size: 15px;
            width: 250px;
        }  

        /* Vídeo e Foto Varal */

        .fig-vid{
            flex-direction: column;
            gap: 20px;
        }

        .video{
            width: 300px;
        }

        .foto-varal{
            height: auto;
            width: 300px;
        }
}